@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
body{
    @apply m-0 p-0 overflow-x-hidden;
}

.box {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}

@theme{
    /* --color-primary: #F6F5F3; */
    --color-primary: #EDEAE3;
    --color-secondary: #A8A6A1;
    --color-gb: #B6B4AF;
    --font-main: "Allura", serif;
    --font-heading: "Playfair Display", serif;
    --font-body: "Bacasime Antique", serif;
}

@layer utilities {
    /* .bg-home-lg {
        background-image: url('/src/components/media/WhatsApp_Image_2025-04-29_at_18.08.00_1_k9wsl8_c_scale,w_600.jpg');
    }
    .bg-home-md {
        background-image: url('/src/components/media/WhatsApp_Image_2025-04-29_at_18.08.00_1_k9wsl8_c_scale,w_830.jpg');
    }
    .bg-home-sm {
        background-image: url('/src/components/media/IMG_4692.webp');
    } */

    .bg-eldoret {
        background-image: url('/src/components/media/Eldoret/WhatsApp Image 2025-04-24 at 22.47.13 (3).jpeg');
    }

    .bg-karen {
        background-image: url('/src/components/media/Karen/WhatsApp Image 2025-04-24 at 22.34.10.jpeg');
    }

    .bg-kileleshwa {
        background-image: url('/src/components/media/Kileleshwa/WhatsApp Image 2025-04-24 at 22.41.39 (2).jpeg');
    }

    .bg-kilimani {
        background-image: url('/src/components/media/Kilimani/WhatsApp Image 2025-04-24 at 22.27.07.jpeg');
    }

    .bg-lavington {
        background-image: url('/src/components/media/lavington/WhatsApp Image 2025-04-25 at 00.13.18.jpeg');
    }

    .bg-southb{
        background-image: url('/src/components/media/South B/WhatsApp Image 2025-04-24 at 23.31.39.jpeg');
    }

    .bg-tatu_city {
        background-image: url('/src/components/media/Tatu city/WhatsApp Image 2025-04-24 at 23.15.42.jpeg');
    }
}

.photo{
    @apply h-[20em] object-cover max-lg:h-[15em] max-lg:w-[26em]
}


p{
    @apply font-body text-[1.6em]/[1.8] max-lg:text-[1.3em]/[1.5];
}

.service{
    @apply bg-primary flex m-[4em] max-md:m-[2em] p-[2em] max-md:flex-col
}

label{
    @apply font-body text-[1.5em] max-lg:text-[1.3em]
}

.menu{
    @apply min-md:hidden text-[2em] ml-[1em]
}

.potrait{
    @apply h-[25em] w-[20em] object-cover
}

.landscape{
    @apply h-[20em] w-[25em] object-cover
}


